{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Metro · Inicio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Aplicación de Metro</h1>

      <div class="actions">
        <p>Bienvenido a la aplicación del Metro. Usa los botones para explorar.</p>
        <br />
        <form method="post" action="{% url 'load_stations' %}" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn">Cargar estaciones desde API</button>
        </form>

        <a href="{% url 'lines_list' %}" class="btn">Listar líneas y estaciones</a>
        <a href="{% url 'line_form' %}" class="btn">Consultar estaciones por línea</a>
        <a href="{% url 'station_form' %}" class="btn">Consultar línea de una estación</a>
        <a href="{% url 'route_form' %}" class="btn">Estaciones intermedias</a>
      </div>

      {% if messages %}
        <br>
        <div class="messages">
          {% for message in messages %}
            <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <div id="resultado" style="margin-top: 30px;">
        {% block content %}
          <!-- Aquí se inyectará el contenido específico -->
        {% endblock %}
      </div>
    </div>
  </body>
</html>
