<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Listado de Líneas de metro</title>
</head>
<body>
  <h1>Listado de líneas de metro</h1>
  <ul>
    {% for linea in lineas %}
      <li>
        <strong>{{ linea.nombre_linea }} (Código: {{ linea.codigo_linea }})</strong><br>
        {{ linea.descripcion_linea }}<br>
        Origen: {{ linea.origen_linea }} — Destino: {{ linea.destino_linea }}
        <ul>
          {% for estacion in linea.estaciones %}
            <li>{{ estacion.nombre_estacion }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'home' %}"> Volver al inicio</a>
</body>
</html>