{% extends 'base.html' %}
{% load custom_filters %} {# <-- Aquí cargas tu filtro regex_findall #}

{% block content %}
  <h2>Ruta desde {{ origen }} hasta {{ destino }}</h2>

  {% if estaciones %}
    <ol>
      {% for estacion in estaciones %}
        <li>
          {{ estacion.nombre }} -{% for linea in estacion.lineas %}
            [{{ linea }}]
          {% endfor %}
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No se encontró un camino entre las estaciones seleccionadas.</p>
  {% endif %}
{% endblock %}
