{% extends 'base.html' %}

{% block content %}
<h2>Consultar línea de una estación</h2>

<form method="post" action="{% url 'station_form' %}">
  {% csrf_token %}
  <label for="estacion">Selecciona una estación:</label>
  <select name="estacion" id="estacion" required>
    <option value="">--Selecciona una estación--</option>
    {% for estacion in estaciones %}
      <option value="{{ estacion }}">{{ estacion }}</option>
    {% endfor %}
  </select>
  <br>
  <button type="submit">Consultar</button>
</form>

{% if lineas_formateadas %}
  <h3>
    La estación <strong>{{ estacion_seleccionada }}</strong> pertenece a 
    {% if cantidad_lineas > 1 %}
      las líneas:
    {% else %}
      la línea:
    {% endif %}
    {{ lineas_formateadas }}
  </h3>
{% endif %}
{% endblock %}
